---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
import { Image } from "astro:assets";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
        <h1 class="text-white text-xl font-bold">
          <Image
      width="150"
      height="150"
      src="/interested.png"
      class="w-auto max-h-[150px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
      alt="interested"
    />
    <header class="flex items-center">
        Let's start working together!
      </h1>
    </header>
    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500">Contact Details</h2>
      <p><a href={LINKS.email} target="_blank">Email</a></p>
      <p>United States</p>
    </address>
    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500">Socials</h2>
      <ul>
        <li>
          <a href={LINKS.github} target="_blank">Github</a>
        </li>
        <li>
          <a href={LINKS.discord} target="_blank">Discord</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
